<style>
        body {
            background-color: #f5faff;
        }

        .body {
            text-align: center;
            margin: 0 auto;
        }

        .line {
            width: 80%;
            height: 2px;
            background-color: gray;
            margin: 0 auto;
            margin-top: 20px;
        }

        #num {
            margin-top: 20px;
            width: 200px;
            margin-bottom: 20px;
        }
    </style>
